.form-control.ng-dirty.ng-invalid,
.form-control.ng-touched.ng-invalid{
    border:2px solid red !important;
}
.container{
    background-color: honeydew;
    border:2px solid black;
    padding:10px;
}
h2{
    text-align: center;
    padding:10px;
}
label{
    font-weight: bolder;
    font-size: large;
}